<section class="col-md-offset-4 col-md-4">
    <%= form_tag sessions_path do %>
    <h1>Log in</h1>

    <div class="form-group">
        <%= label_tag :email %><br/>
        <%= text_field_tag :email, params[:email], :class => 'form-control' %>
    </div>

    <div class="form-group">
        <%= label_tag :password  %><br/>
        <%= password_field_tag :password, :class => 'test' %>
    </div>

    <div class="btn btn-lg btn-primary"><%= submit_tag "Log in" %></div>
    <% end %>
</section>