
 <% items.each do |item| %>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
     <a href="<%= item_path(:id => item.id) %>"> <%= image_tag item.photo %></a>
      <div class="caption">
        <h3><%= item.nom %></h3>
        <span class="prix"><%= item.prix %> <i class="fa fa-eur"></i></span>
        
        <p class="tags"><span class="label label-default"><%= item.couleur %></span><span class="label label-default"><%= item.type.materiau %></span><span class="label label-default"><%= item.piece.nom %></span></p>
      </div>
    </div>
  </div>
  <% end %>
