<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @item.nom %>
</p>

<p>
  <strong>Prix:</strong>
  <%= @item.prix %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @item.photo %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Couleur:</strong>
  <%= @item.couleur %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
