<p id="notice"><%= notice %></p>


<div class="row show_item" >
  <div class="col-md-8">
     <div class="row banner_img">
        <%= image_tag @item.photo , :class=>"img-responsive center-block " %>  
      </div> 
      <i class="fa-heart fa"></i> <%= @item.likes %>
      <button class="btn btn-sm"><i class="fa fa-plus"></i> j'aime</button>          
  </div>
  <div class="col-md-4">
    <h2><%= @item.nom %></h2>
    <span class="label label-default"><%= @item.couleur %></span>
    <span class="label label-default"><%= @item.piece.nom %></span>
    <span class="label label-default"><%= @item.type.materiau %></span>
    <blockquote><%= @item.description %></blockquote>
    <span class="prix"><%= @item.prix %> <i class="fa fa-eur"></i></span>

  </div>
</div>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
