<!DOCTYPE html>
<html>
<head>
    <title>Lemontree</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Comic+Neue:400,400i">
</head>
<body>
<header>
	<%= render "layouts/nav" %>
    <div class="logo"></div>
</header>
<div class="container">
    <%= yield %>
</div>
<footer>
    <p>Copyright 2015 | Crazy Charlie Day | Yann Prono - Ysée Monnier - Pierre Belabbes - Renan Strauss</p>
</footer>
</body>
</html>
